
.idea/

Engine/bin/

Engine/obj

GameRunner/obj/

GameRunner/bin/

Domain/bin/

Domain/obj/

Engine/obj/
/Logger/bin
/Logger/obj

EngineTests/bin/

EngineTests/obj/

GameRunner.sln.DotSettings.user

GameRunner/publish/

publish/
